# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=saep_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redispassword

# Kafka Configuration
KAFKA_BROKER=kafka:9092
KAFKA_USERNAME=admin
KAFKA_PASSWORD=admin

# Security / JWT Configuration
JWT_SECRET=z+y9w1XfR/qj5H+c8V2P4mK7s9tL6bN3yQ1w8Z4c5vA=

# Observability Configuration
ZIPKIN_ENDPOINT=http://zipkin:9411/api/v2/spans

# Temporal Configuration
TEMPORAL_ADDRESS=temporal:7233
